@use "./variables" as *;

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == xxl {
    @media (max-width: 1400px) {
      @content;
    }
  }
}

@mixin section-title {
 
  font-weight: 600;
  color: $white;

  .highlight {
    color: $orange;
  }
}

@mixin section-description {
  color: $white;
  font-weight: 100;
  font-size: clamp(14px, 2vw, 19px);
  line-height: 1.6;
  margin-bottom: 0;
}

.info-icon {
  width: 48px;
  height: 48px;

  color: $white;

  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
    transition: 0.3s ease;
  }
  h5 {
    font-weight: 600;
    font-size: clamp(16px, 3vw, 22px);
    margin-bottom: 20px;
    margin-top: 15px;
  }

  p {
    font-size: clamp(16px, 3vw, 22px);
    color: $white;
    font-weight: 100;
    margin: 0;
  }

  .card-description {
    font-size: clamp(16px, 3vw, 22px);
  }
}

@mixin section-title-font {
font-size:38px;


}
 
 
 

