$black: #010101;
$white: #f1f1f1;
$orange: #f15a23;

$dark-grey: #111111;
$light-grey: #2b2929;
$darker-grey: #181818;
$black-grey: #0a0a0a;
$dark-ash: #0f0e0e;

$purple-blue: #3d3c7a;
$blue: #114273;
$dark-blue: #282656;

$deep-indigo: #3b2c80;
$soft-blue: #4c4fa6;
$steel-blue: #334061;
$royal-purple: #372361;

$deep-violet: #382d67;
$lavender-indigo: #5b4595;
$grape-purple: #4a2862;
$eggplant-purple: #3c2b5f;

$earth-brown: #724d3f;
$brick-red: #864040;
$cocoa-brown: #562c2c;
$crimson-maroon: #731d1d;

$orange-red: #c86d3f;
$bright-red: #c64c4c;
$brown: #724437;
