
@media (max-width: 1200px) {
  .hero-contact .hero-title, .hero-careers .hero-title {
    font-size: 64px !important;
  }
  .office-section .office-card {
    padding: 50px;
  }
  .office-section .office-title {
      margin-bottom: 45px;
  }
  .cta-section, .cta-section-careers, #hero {
    min-height: unset;
    padding: 60px 20px 0px 20px;
    margin-top: 50px;
  }
}
@media (max-width: 992px) {
  .hero-contact .hero-title, .cta-section .cta-heading, .hero-careers .hero-title, .cta-section-careers .cta-heading-careers {
    font-size: 48px !important;
  }
}
@media (max-width: 768px) {
  .hero-contact{
    min-height: 430px;
    margin-top: 90px;
  }
  .hero-careers {
    min-height: 540px;
    margin-top: 0px;
  }
}
@media (max-width: 576px) {
  .hero-contact{
    min-height: 300px;
    margin-top: 75px;
  }
  .hero-careers {
    min-height: 470px;
    margin-top: 0px;
  }
  .hero-contact .hero-title, .cta-section .cta-heading, .hero-careers .hero-title, .cta-section-careers .cta-heading-careers {
    font-size: 34px !important;
  }
}

.hero-careers {
  background: url(../img/careers-hero.svg) no-repeat center center !important;
  background-size: cover !important;
}

.vacancy-details{
  display: none;
  font-size: 18px;
  line-height: 29px;
}
.vacancy-details.open{
  display: block;
}
.vacancy-header{
  cursor: pointer;
}

.hero-services .hero-title {
  font-size: clamp(2.5rem, 6vw, 5.5rem) !important;
}
.experts-section .expert-wrapper .expert-card .expert-img{
  filter: grayscale(1);
}
.careers-cta-section .cta-image-col {
  background-image: url(../img/join-us.png) !important;
  border-radius: 20px;
}
.moments-section .event-card{
  background-color: transparent !important;
}


.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 1rem;
  list-style: none;
}
.breadcrumb-wrap .breadcrumb-item {
  font-size: 22px;
  font-weight: 400;
}

.breadcrumb-item+.breadcrumb-item::before{
  color: #fff !important;
}

.breadcrumb-wrap a {
  color: #ffffff !important;
  text-decoration: none;
}
.breadcrumb-wrap a:hover {
  color: #F15A23 !important;
}
.breadcrumb-item.active {
  color: #F15A23 !important;
}
.events .tile .image {
  max-height: 290px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 12px 12px 4px rgba(0, 0, 0, 0.04);
}
.thumnail-wrap .image {
  max-height: unset !important;
  cursor: pointer;
}
.thumnail-wrap .img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  aspect-ratio: 4 / 3 !important;
}
.event-images{
  margin-top: 200px;
}
.text-gray{
  color: #dddddd;
}
.open-positions-section .position-list li{
  padding-top: unset !important;
  padding-bottom: unset !important;
  border-top: unset !important;
  font-size: 16px !important;
}
.open-positions-section .position-list li.vacancy-item{
  padding-top: 60px !important;
  padding-bottom: 60px !important;
  border-top: 0.8px solid rgba(241, 241, 241, 0.2) !important;
  font-size: 22px !important;
}
.open-positions .accordion-list li .job-details .send-to {
  border-top: 1px solid #f5f5f5;
}
.job-details .section h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.text-red {
  color: #F15A23 !important;
}
.testimonial-section .testimonial-card{
  opacity: 1 !important;
}

.owl-nav, .owl-dots{
  display: none !important;
}

.owl-carousel .owl-item{
  scale: 88%;
  opacity: 0.7;
  transition: all 0.5s;
 }
 .owl-carousel .owl-item.center{
  scale: 100%
 }

.lightbox-carousel .carousel-item .ratio{
    background-color: rgb(0 0 0 / 84%) !important;
}

.lightbox-carousel .carousel-item .ratio.ratio-16x9{
  --bs-aspect-ratio: 49.25%;
}

 